@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.shadow div{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    text-align: center;
    line-height: 200px;
    border-radius: 100%;
}
.shadow div:nth-of-type(1) {
    box-shadow: 7px 7px 15px teal;
    /* 그림자 : x축 y축 블러 색상 */
}
.shadow div:nth-of-type(2) {
    box-shadow: -7px -7px 15px rgb(219, 190, 57);
}
.shadow div:nth-of-type(3) {
    box-shadow: 5px 5px 15px rgb(241, 147, 147),
                12px 12px 15px rgb(253, 255, 132),
                17px 17px 15px rgb(55, 192, 101);
}
.shadow div:nth-of-type(4) {
    box-shadow: inset 20px 20px 20px rgb(238, 178, 218);
}
.shadow div:nth-of-type(5) {
    box-shadow: 0 0 30px rgb(69, 129, 241);
}