@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

.sec {
    margin: 0 auto;
    width: 1920px;
    background-color: antiquewhite;
    padding: 160px 320px;
}
.inner {
    margin: 0 auto;
    width: 1280px;
}
.inner h2 {
    font-size: 70px;
    margin-bottom: 40px;
}
.inner .list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.inner .list .left {
    width: 627px;
    height: 627px;
}
.inner .list .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner .list .right {
    width: 627px;
    height: 627px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 27px;
}
.inner .list .right .item {
    width: 300px;
    height: 300px;
}
.inner .list .right .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}