@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    position: relative;
}
.header {
    width: 100%;
    height: 100px;
    background-color: rgba(86, 38, 25, 0.7);
    color: #efb1b1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .inner {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .nav .gnb {
    display: flex;
    gap: 50px;
    font-size: 17px;
    font-weight: bold;
}
.header .inner .util {
    display: flex;
    gap: 30px;
    font-size: 14px;
}
.main .main_visual {
    height: 100vh;
    position: relative;
}
.main .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .main_visual .text {
    width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffe4b3;
    transform: translate(-50%, -50%); /* 지 width 값의 50%만큼 다시 감 */
}