@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.all {
    width: 1920px;
    height: 932px;
    background-image: url('../img/Frame 24.png');
    margin: 0;
}
header {
    width: 100%;
    padding: 164px 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    align-items: center;
    margin-bottom: 65px;
}
header h2 {
    font-size: 40px;
}
header p {
    font-size: 16px;
}
main {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
}
main .item {
    width: 464px;
    height: 340px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
main .item img {
    width: 170px;
    height: 170px;
    margin-right: 40px;
}
main .content {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .content h3 {
    font-size: 14px;
    font-weight: normal;
    width: 71px;
    height: 28px;
    background-color: #d3785d;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 28px;
}
main .content .text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;/* display: flex 있어야 사용가능 */
}
main .content .text strong {
    font-size: 16px;
}
main .content .text p {
    font-size: 14px;
}