@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffd9f8;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.list .item {
    width: 500px;
    border: 4px solid #d80006;
    margin: 50px;
}
.list .item .image_box {
    width: 100%;
    height: 400px;
}
.list .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #d80006;
}
.list .item:first-child {
    overflow: hidden;     /* 넘치는 부분 숨김 */
}
.list .item:first-child .image_box img {
    transform: scaleX(1.5);                 /* X축으로 스케일 늘어남 */
}
.list .item:nth-child(2) .image_box {
    overflow: hidden;
}
.list .item:nth-child(2) .image_box img {   /* 2번째 아이템의 이미지 */
    transform: scaleY(1.5);                 /* Y축으로 스케일 늘어남 */
}
.list .item:nth-child(3) .image_box {
    overflow: hidden;
}
.list .item:nth-child(3) .image_box img {
    transform: scale(1.5);
}
.list .item:nth-child(4) .image_box {
    overflow: hidden;
}
.list .item:nth-child(4) .image_box img {
    transition: all 0.5s;                         /* 마우스 올렸을 때 효과 시간 */
}
.list .item:nth-child(4):hover .image_box img {   /* :hover 마우스 올렸을 때 */
    transform: scale(1.5);
}