@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffb3b1;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.list .item {
    width: 500px;
    border: 4px solid #9a0002;
    margin: 50px;
}
.list .item .image_box {
    height: 300px;
}
.list .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p {
    color: #9a0002;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.list .item:first-child:hover {     /* 마우스 올렸을 때 기준 */
    transform: rotateX(360deg);     /* X축으로 n도만큼 회전(90도는 사라짐 / 180도는 뒤집어짐) */
    transition: all 0.8s;
}
.list .item:nth-child(2):hover {
    transform: rotateY(360deg);     /* Y축으로 n도만큼 회전 */
    transition: all 0.8s;
}
.list .item:last-child .image_box {
    overflow: hidden;
}
.list .item:last-child .image_box img {
    transition: all 0.4s;
}
.list .item:last-child:hover .image_box img {
    transform: rotate(360deg) scale(1.5);   
}   /* transform안에 여러개 들어갈 수 있음 */
    /* scale(0)하면 이미지 사라짐 */