@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #797e81;
}
li { 
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.list .item {
    width: 500px;
    border: 2px dashed #a81114;
    margin: 50px;
}
.list .item .image_box {
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: hidden;
}
.list .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p {
    color: #a81114;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.list .item:first-child:hover {
    transform: skew(45deg);
    transition: all 0.5s;
}
.list .item:nth-child(2) .image_box img:hover {
    transform: skewY(45deg);
}
.list .item:last-child .image_box img:hover {
    transform: skew(45deg, 150deg);
    transition: all 0.7s;
}