@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.list .item {
    width: 500px;
    border: 2px dashed #980001;
    margin: 50px;
    padding: 10px;
}
.list .item .image_box {
    height: 500px;
}
.list .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p {
    font-size: 20px;
    font-weight: bold;
    color: #980001;
    text-align: center;
    margin-top: 10px;
}
.list .item:first-child .image_box img {
    transform: translateY(-50px);
}
.list .item:nth-child(2) .image_box img {
    transform: translateX(100%);
}
.list .item:last-child .image_box img {
    transform: translate(400px, 50%);
}