@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.visual {
    width: 100%; /* 화면 전체 크기 */
    background-color: rgb(75, 97, 75);
    position: relative;
}
.visual .inner {
    padding-bottom: 56.25%; /* width값에 대한 16:9 비율 */
}
.visual iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}