@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3d1e6;
    color: #e22473;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 100px;
    border-bottom: 2px dashed #e22473;
}
.header .inner {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .nav .gnb {
    display: flex;
}
.header .inner .nav .gnb > li {   /* 꺽새는 자식 안에 있는건 포함 X  */
    position: relative;
}
.header .inner .nav .gnb > li .depth-01 {
    font-size: 18px;
    background-color: #fdb7d4;
    display: block;
    line-height: 100px;
    padding: 0 40px;
}
.header .inner .nav .gnb > li .depth-02 {
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}
.header .inner .nav .gnb > li .depth-02 li {
    text-align: center;
    padding: 10px 0;
}
.header .inner .nav .gnb > li:hover .depth-02 {
    display: block;
}