@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #223055;
    background-color: #FFE1E9;
}
.header {
    height: 100px;
    position: relative;
    z-index: 1;     /* z-index는 꼭 position과 써야함. relative주기 */
}
.header .inner {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo {
    height: 60px;
}
.header .inner .logo a {
    height: 100%;
    display: block;
}
.header .inner .logo a img {
    height: 100%;
}

.header .inner .nav {}
.header .inner .nav .gnb {
    display: flex;
}
.header .inner .nav .gnb > li {
    position: relative;
}
.header .inner .nav .gnb > li .depth-01 {
    display: block;
    line-height: 100px;
    padding: 0 30px;
}
.header .inner .nav .gnb > li .depth-02 {
    /* width: 100%; */
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFE1E9;
    border-top: 5px solid #ee8ebe;
    white-space: nowrap;    /* 글자 줄바꿈 방지 */
    display: none;
}
.header .inner .nav .gnb > li:hover .depth-02 {
    display: block;
}
.header .inner .nav .gnb > li .depth-02 li:hover {
    background-color: #ee8ebe;
    color: white;
}
.header .inner .nav .gnb > li .depth-02 li a {
    padding: 12px 20px;
    display: block;
}
.header .inner .util {
    display: flex;
    gap: 16px;
}
.main_visual {
    height: 100vh;
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center; /* 이미지 왼쪽 기준으로 잘림 */
}
.main_visual .text {
    position: absolute;
    top: 45%;
    left: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 40px;
    border-radius: 50px;
    justify-items: center;
}
.main_visual .text h2 {
    font-size: 60px;
    margin-bottom: 20px;
}
.main_visual .text a {
    width: 160px;
    height: 50px;
    background-color: rgba(238, 142, 190, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}