@charset "utf-8";

@font-face {
    font-family: 'Galmuri11';
    src: url('../font/Galmuri11/Galmuri11-Bold.eot');
    src: url('../font/Galmuri11/Galmuri11-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Galmuri11/Galmuri11-Bold.woff2') format('woff2'),
        url('../font/Galmuri11/Galmuri11-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galmuri11';
    src: url('../font/Galmuri11/Galmuri11-Regular.eot');
    src: url('../font/Galmuri11/Galmuri11-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Galmuri11/Galmuri11-Regular.woff2') format('woff2'),
        url('../font/Galmuri11/Galmuri11-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Galmuri11';
    background-color: #fff7d3;
}

.mobile {
    display: none;
}

.header {
    height: 100px;
    border-bottom: 1px solid #60b6d8;
    background-color: #fff;
}

.header .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 80px
}

.header .inner .logo a {
    height: 100%;
    display: block;
}

.header .inner .logo a img {
    height: 100%;
    object-fit: cover;
}

.header .inner .nav_pc .gnb {
    display: flex;
}

.header .inner .nav_pc .gnb>li {
    position: relative;
}

.header .inner .nav_pc .gnb>li .depth-01 {
    font-size: 16px;
    color: #ff9100;
    display: block;
    line-height: 100px;
    padding: 0 40px;
}

.header .inner .nav_pc .gnb>li .depth-02 {
    font-size: 14px;
    width: 100%;
    border: 1px solid #60b6d8;
    color: #4997b6;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}

.header .inner .nav_pc .gnb>li:hover .depth-02 {
    display: block;
}

.header .inner .nav_pc .gnb>li .depth-02 li {
    padding: 8px;
}


/* 화면 1024px 이하 */
@media screen and (max-width: 1024px) {
    .pc {display: none;}        /* pc일때 나오는거 안보이게 하고 mobile 블락 */
    .mobile {display: block;}

    .header .inner .nav_btn {
        width: 30px;
        border: 0;
        background-color: transparent;
    }

    .header .inner .nav_btn img {
        width: 100%;
    }

    .header .inner .nav_mobile {
        width: 60%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #ff9100;
        color: #ffffff;
        transition: right 0.5s;
    }

    .header .inner .nav_mobile.active {
        right: 0;
    }

    .header .inner .nav_mobile .close_btn {
        border: 0;
        background-color: transparent;
    }
}