@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(248, 198, 207);
    line-height: 1;     /* 텍스트 행간 여백 없이 시작 */
}

.section {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 160px 0;
}

.section .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    gap: 28px;
}

.section .inner .item {
    width: 23.36%;      /*  299/1280*100 = 23.36%  */
}

.section .inner .item img {
    width: 100%;
    height: 299px;
    object-fit: cover;
    border-radius: 20px;
}

.section .inner .item .text {
    margin-top: 20px;
}

.section .inner .item .text strong {
    font-size: 22px;
}

.section .inner .item .text p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
    line-height: 1.5;
}


/* 1024 이하 */
@media screen and (max-width: 1024px) {
    .section .inner {
        flex-wrap: wrap;
        gap: 16px;
    }
    .section .inner .item {
        width: 48.61%;
    }
    .section .inner .item img {
        height: 386px;
    }
}


/* 640 이하 */
@media screen and (max-width: 640px) {
    .section .inner {
        width: calc(100% - 32px);
        gap: 50px;
    }
    .section .inner .item {
        width: 100%;
    }
    .section .inner .item img {
        height: 343px;
    }
}