@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    /* 텍스트 여백 최소화 */
}

.section .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

/* inner 바로 밑에 있는 모든 div들 (.title, .item) */
.section .inner>div {
    width: 31.59%;
    /* 455 / 1440 * 100 */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative; /* text의 부모 */
}

.section .inner>div .image {
    padding-bottom: 100%;
    /* 3 */
    position: relative; /* img의 부모 */
    /* 1 */
}

.section .inner>div .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute; /* 부모 .image */
    /* 2 */
    top: 0;
    left: 0;
}

.section .inner .title {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section .inner .item.item-big {
    width: 48.75%;
    /* 702 / 1440 * 100 */
}

.section .inner .item.item-big .image {
    padding-bottom: 64.81%;
    /* 455 / 702 * 100 */
}

.section .inner .item .text {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.5);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute; /* 부모 - .item */
    top: 0;
    left: 0;
}

/* item:hover */
.section .inner .item:hover .text {
    display: flex;
}

/* inner 안 아이템 순서 변경 */
/* inner안 div 중 두번째 */
.section .inner .item:nth-child(2) {
    order: -1;
    /* 숫자가 작을 수록 앞 */
}


/* 1024 이하 */
@media screen and (max-width: 1024px) {
    .section .inner .item .text {
        height: auto;
        display: flex;
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        top: auto;
        bottom: 0;
        padding: 50px 0 20px;
    }
}


/* 700 이하 */
@media screen and (max-width: 700px) {
    .section .inner .item:nth-child(2) {
        order: 0;
    }

    .section .inner>div {
        width: 47.77%;
        /* 177 / 360 * 100 */
    }

    .section .inner .title {
        width: 100%;
        border: 0;
    }

    .section .inner .item.item-big {
        width: 47.77%;
    }

    .section .inner .item.item-big .image {
        padding-bottom: 100%;
    }

    .section .inner .item .text {
        position: static;
        background: transparent;
        color: #000;
        padding: 0;
        margin-top: 10px;
    }
}