@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.form {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: 50px auto;
    border: 1px solid #000000;
    padding: 20px;
}

.form .box label {
    display: block; /* 입력란 밑으로 떨어짐 */
}

/* 선택자 여러 개 지정 시 */
/* 태그 타입별로 지정 가능 */
.form .box input[type="text"],
.form .box input[type="password"] {
    width: 50%;
    height: 40px;
    padding: 0 10px;
    margin: 15px 0;
    font-size: 16px;
}

.form .box input::placeholder {
    color: rgb(253, 127, 127);
}

/* 입력란 선택 시 선택자 테두리 색상변경 방법 2가지 */
.form .box input:focus {
    /* outline: 3px solid rgb(238, 103, 103);
    border: 0; */ /* 기존 테두리 제거 */
    outline: none;
    border: 3px solid rgb(240, 98, 98); /* 기존 테두리 변경 */
    box-shadow: 3px 3px 5px #a19292;
}

.form .check ul {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.form .check ul li label {
    height: 40px;
    padding: 0 20px;
    border: 1px solid rgb(253, 127, 127);
    border-radius: 40px;
}

.form .check ul li input {
    display: none;
}

/* 버튼 선택 시 라벨 요소 스타일 변경 */
.form .check ul li input:checked + label {
    border: 3px solid rgb(240, 98, 98);
}