@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: none;
}

li {
    list-style: none;
}

.image img {
    width: 300px;
}

.svg_image svg:hover path {
    /* fill: black <-- 안되면 stroke */
    stroke: black;
}

.svg_image-02 {
    position: relative;
}

.svg_image-02 p {
    width: 40px;
    height: 40px;
    background-color: rgb(248, 138, 119);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    offset: path('M50 0C22.3858 0 0 22.3858 0 50C0 77.6147 22.3858 100 50 100C22.3858 100 0 122.385 0 150C0 177.615 22.3858 200 50 200C77.6147 200 100 177.615 100 150C100 177.615 122.385 200 150 200C177.615 200 200 177.615 200 150C200 122.385 177.615 100 150 100C177.615 100 200 77.6147 200 50C200 22.3858 177.615 0 150 0C122.385 0 100 22.3858 100 50C100 22.3858 77.6147 0 50 0Z');

    animation: svgImage 6s infinite linear;
}

@keyframes svgImage {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}