@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 50px;
}

.box p {
    width: 300px;
    border: 1px solid #333;
}



/* ------ 글자 모양 ------- */
.box p:nth-child(1) {
    font-style: italic;
    /* font-style: italic은 폰트 자체에 포함된 이탤릭 적용 */
    /* font-style: oblique는 브라우저가 강제로 기울임 적용 */
}

.box p:nth-child(2) {
    text-decoration: overline;
    /* none : 없음
    underline : 밑줄
    overline : 윗줄
    line-through : 취소선 */
}


/* ------ 글자 정렬 ------- */
.box p:nth-child(3) {
    text-align: justify;
    /* left
    center
    right
    justify : 양쪽 끝 정렬(마지막 줄은 left) */
    /* text-align-last : 마지막 줄 정렬 방식 지정 */
    /* hyphens: auto; 긴 단어를 자동으로 하이픈(-)으로 끊어줌 → 불필요한 큰 공백 방지 */
}


/* ------ 글자 행간 ------- */
.box p:nth-child(4) {
    line-height: 50px;
    /* 가독성 높은 값 1.3 ~ 1.8 */
}


/* ------ 글자 자간 ------- */
.box p:nth-child(5) {
    letter-spacing: -3px;
    /* 글자 사이 간격 */
    word-spacing: 10px;
    /* 단어 사이 간격 */
}


/* ------ 글자 줄 바꿈 ------- */
.box p:nth-child(6) {
    word-break: keep-all;
    /* break-all : 국문 기본값(글자 줄 바꿈)
    keep-all : 영문 기본값(단어 줄바꿈) */
}


/* ------ 글자 세로로 작성 ------- */
.box p:nth-child(7) {
    writing-mode: vertical-lr;
    /* vertical-lr : 왼쪽에서 오른쪽
    vertical-rl : 오른쪽에서 왼쪽 */
    height: 242px;
}


/* ------ 글자 줄바꿈 방지 ------- */
.box p:nth-child(8) {
    white-space: nowrap;
}


/* ------ 말줄임표 ------- */
.box p:nth-child(9) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}