@charset "utf-8";

/* 웹폰트 연결 */
@import url('../font/Aggro/stylesheet.css');

/* 웹폰트 연결2 */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: 'Pretendard';
    font-weight: 400;
    background-color: pink;
    color: brown;
}

.inner {
    max-width: 1400px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.main .title {
    margin-bottom: 60px;
}

.main .title h3 {
    font-size: 60px;
    font-family: 'SB-Aggro';
    font-weight: bold;
}

.main .title p {
    font-size: 20px;
}

/* header */
.header {
    height: 100px;
    background-color: white;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 80px;
}
.header .inner .logo a {
    height: 100%;
    display: block;
}
.header .inner .logo a img {
    height: 100%;
}

.header .inner .nav .gnb {
    display: flex;
}

.header .inner .nav .gnb > li {
    position: relative;
}

.header .inner .nav .gnb > li .depth-01 {
    display: block;
    line-height: 100px;
    padding: 0 40px;
}

.header .inner .nav .gnb > li .depth-02 {
    width: calc(100% - 8px);
    position: absolute;
    top: 100px;
    left: 0;
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.header .inner .nav .gnb > li:hover .depth-02 {
    display: block;
}

.header .inner .nav .gnb > li .depth-02 li a {
    display: block;
    padding: 10px;
}

.header .inner .nav .gnb > li .depth-02 li:hover a {
    background-color: rgba(255, 255, 255, 0.3);
}

.header .inner .util {
    display: flex;
    gap: 16px;
}

/* footer */
.footer {
    background-color: white;
    padding: 80px 0;
}