@charset "utf-8";
@import url('reset.css');

.menu {
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    color: #fff;
}

.menu ul {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    /* x축 넘치는 영역 숨기고 스크롤바 생김 */
    overflow-x: auto;
}

    /* 스크롤바 안보이게 숨김 */
.menu ul::-webkit-scrollbar {
    display: none;
}

.menu ul li {
    height: 30px;
    background-color: #e651b4;
    padding: 0 18px;
    border-radius: 20px;
    line-height: 30px;
}

.menu .image img {
    width: 100%;
}