@charset "utf-8";
@import url('reset.css');

:root {
    --fontSize-heading1: 56px;
    --fontSize-md: 18px;
    --fontSize-sm: 15px;
    --fontSize-xs: 13px;

    --color-text: #000000;
    --color-point: #EA002C;
    --color-border: #d9d9d9;

    --margin-b-lg: 40px;
    --margin-b-md: 20px;
}

.section-01 {
    padding: 160px 0;
}
.section-01 .inner {
    max-width: 1500px;
    width: calc(100% - 32px);
    margin: 0 auto;
}
.section-01 .inner h2 {
    font-size: var(--fontSize-heading1);
    margin-bottom: var(--margin-b-lg);
}
.section-01 .inner h2 span {
    color: var(--color-point);
}
.section-01 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-01 .inner .item_wrap .image {
    width: 51.2%;
    /* 768 / 1500 * 100 */
    height: 590px;
}
.section-01 .inner .item_wrap .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 .inner .item_wrap .text_wrap {
    width: 42.66%;
    /* 640 */
}
.section-01 .inner .item_wrap .text_wrap .item_title h4 {
    font-size: 48px;    
    margin-bottom: var(--margin-b-md);
}
.section-01 .inner .item_wrap .text_wrap .item_title p {
    font-size: var(--fontSize-md);
}
.section-01 .inner .item_wrap .text_wrap .link_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.section-01 .inner .item_wrap .text_wrap .link_wrap li {
    width: 48.43%; 
    /* 310 / 640 * 100 */
    height: 64px;
    border-radius: 40px;
    border: 1px solid var(--color-border);
    color: var(--color-point);
    text-align: center;
    line-height: 64px;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.section-01 .inner .item_wrap .text_wrap .link_wrap li a {
    display: block;
}
@media screen and (max-width: 767px) {
    :root {
        --fontSize-heading1: 32px;
        
        --margin-b-lg: 20px;
        --margin-b-md: 16px;
    }
}