.scroll_section {
  position: relative;
  height: 400vh; /* 이미지 4장 x 100vh */
}

.scroll_section .container {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
}

.image_wrap, .text_wrap {
  width: 50%;
  height: 100vh;
  position: relative;
}

.image_wrap .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.image_wrap .img.on {
  opacity: 1;
}

.text_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text_wrap .text {
  position: absolute;
  width: 80%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.text_wrap .text.on {
  opacity: 1;
}
