@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
/* font-family: "Allerta Stencil", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: "Anton", sans-serif; */

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(../font/Pretendard/Pretendard-Black.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(../font/Pretendard/Pretendard-ExtraBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../font/Pretendard/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(../font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'), url(../font/Pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../font/Pretendard/Pretendard-Medium.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../font/Pretendard/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(../font/Pretendard/Pretendard-Light.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(.../font/Pretendard/Pretendard-ExtraLight.woff2) format('woff2'), url(../font/Pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(../font/Pretendard/Pretendard-Thin.woff2) format('woff2'), url(../font/Pretendard/Pretendard-Thin.woff) format('woff');
}

@font-face {
    font-family: 'KyoboHandwriting2020ParkDoYeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    line-height: normal;
    font-family: 'pretendard';
    font-weight: 400;
}

li {
    list-style: none;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 150px;
    color: #333333;
    line-height: 1;
}

h4 {
    font-family: "Anton", sans-serif;
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

/* ----- 헤더 ----- */
.header .inner .nav.mobile {
    display: none;
}

.header .inner .menu {
    display: none;
}

.header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .inner {
    width: 79.37%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .header .inner {
        width: calc(100% - 70px);
    }
}

.header .inner .logo {
    width: 120px;
}

.header .inner .logo a {
    width: 100%;
    display: block;
}

.header .inner .logo a img {
    width: 100%;
}

.header .inner .menu img {
    display: none;
}

.header .inner .nav.pc {
    display: flex;
    gap: 10px;
}

/* depth-01 */
.header .inner .nav.pc .depth-01-list {
    display: flex;
}

.header .inner .nav.pc .depth-01-list>li {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
}

.header .inner .nav.pc .depth-01-list>li>.depth-01 {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.header .inner .nav.pc .depth-01-list li:hover .depth-01 {
    transform: translateY(-4px);
    font-weight: 700;
}

.header .inner .nav .depth-01-list li .depth-01.sub_btn {
    background-color: #FEE379;
    color: #333;
    border-radius: 20px;
    margin-left: 20px;
    transition: all 0.2s;
}

.header .inner .nav .depth-01-list li:hover .depth-01.sub_btn {
    background-color: #333;
    color: #FEE379;
    border: 1px solid #FEE379;
}

/* depth-02 */
.header .inner .nav.pc .depth-01-list li .depth-02 {
    min-width: 130px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    /* Y 부드럽게 나오는 효과 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.header .inner .nav.pc .depth-01-list li:hover .depth-02 {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .nav.pc .depth-02 li {
    width: fit-content;
    /* 글자만큼 */
    color: #A1A1A1;
    display: block;
}

.header .inner .nav.pc li .depth-02 li:hover {
    color: #fff;
}

.header .inner .nav.pc li .depth-02 .depth-03 {
    color: #A1A1A1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    position: relative;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.header .inner .nav.pc .depth-02 li:hover .depth-03 {
    max-height: 0;
    opacity: 1;
    transform: translateY(0);
}

.header .inner .nav.pc .depth-02 .depth-03 li:first-child {
    margin-top: 12px;
}

.header .inner .util {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.header .inner .util .login {
    width: 60px;
    height: 100%;
    color: #ffffff;
    padding: 0;
}

.header .inner .util .search_btn {
    height: 100%;
    padding: 0 5px;
}

.header .inner .util .search_btn img {
    width: 32px;
    display: block;
}

.header .inner .util .search_box {
    width: 320px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transform: translateY(-10px);
    /* Y 부드럽게 내려오기 */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1000;
}

.header .inner .util .search_box.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.header .inner .util .search_box input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 0;
}

/* --- 푸터 --- */
#footer {
    background-color: #000000;
}

#footer .border {
    width: 100%;
    padding: 50px 0;
    border-radius: 30px 30px 0 0;
    background-color: #333333;
    color: #ffffff;
}

#footer .inner {
    width: 79.37%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1280px) {
    #footer .inner {
        width: calc(100% - 70px);
    }
}

#footer .inner .logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#footer .inner .logo a {
    width: 210px;
    display: block;
}

#footer .inner .logo a>img {
    width: 100%;
    display: block;
}

#footer .inner .logo .sns ul {
    display: flex;
    gap: 18px;
}

#footer .inner .logo .sns ul li a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
}

/* 기본 상태 */
#footer .inner .logo .sns a.blog {
    background-image: url('../img/snsicon_blog.png');
}

#footer .inner .logo .sns a.instagram {
    background-image: url('../img/snsicon_instagram.png');
}

#footer .inner .logo .sns a.youtube {
    background-image: url('../img/snsicon_youtube.png');
}

#footer .inner .logo .sns a.x {
    background-image: url('../img/snsicon_X.png');
}

/* hover 상태 */
#footer .inner .logo .sns a.blog:hover {
    background-image: url('../img/snsicon_blog-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.instagram:hover {
    background-image: url('../img/snsicon_instagram-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.youtube:hover {
    background-image: url('../img/snsicon_youtube-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .logo .sns a.x:hover {
    background-image: url('../img/snsicon_X-hover.png');
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#footer .inner .text_wrap {
    width: 65.88%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#footer .inner .text_wrap .footer_nav {}

#footer .inner .text_wrap .footer_nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#footer .inner .text_wrap .footer_nav ul li a {
    display: inline-block;
}

#footer .inner .text_wrap .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .inner .text_wrap .info .text {}

#footer .inner .text_wrap .info .text ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
}

#footer .inner .text_wrap .info .text ul li {}


/* --- 1024 이하일 때(태블릿 ver) --- */
@media screen and (max-width: 1024px) {
    h6 {
        font-size: 27px;
    }

    .header .inner {
        width: 86.81%;
        height: 60px;
    }

    .header .inner .logo {
        width: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header .inner .menu {
        transition: transform 0.4s ease;
    }

    .header .inner .menu.open {
        transform: rotate(360deg);
    }

    .header .inner .menu .menu-icon {
        display: block;
        width: 32px;
    }

    .header .inner .menu .menu-icon {
        transition: opacity 0.2s ease;
    }

    .header .inner .menu.open .menu-icon {
        content: url('../img/icon_close.png');
    }

    .header .inner .nav.pc {
        display: none;
    }

    .header .inner .util .login {
        display: none;
    }

    /* 태블릿, 모바일 메뉴탭 */
    .header .inner .nav.mobile {
        width: 73.50%;
        height: 100vh;
        padding: 50px 40px;
        gap: 22px;
        background-color: rgba(51, 51, 51, 0.9);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: -100%;
        transition: left 0.4s ease;
        z-index: 100;
    }

    .header .inner .nav.mobile.active {
        left: 0;
    }

    .header .inner .nav.mobile .depth-01-list {
        display: flex;
        flex-direction: column;
        gap: 22px;

    }

    .header .inner .nav.mobile .depth-01-list .depth-01 {
        font-weight: 600;
        text-align: center;
        display: block;
        width: 90px;
        transition: all 0.3s ease;
    }

    .header .inner .nav.mobile .line {
        width: 1px;
        height: 100vh;
        background-color: rgba(161, 161, 161, 0.5);
        position: absolute;
        top: -50px;
        left: 150px;
    }

    .header .inner .nav.mobile .depth-01-list .depth-01.active {
        color: #FEE379;
    }

    .header .inner .nav.mobile .depth-01-list .depth-01.sub_btn {
        height: 30px;
        line-height: 30px;
        margin-left: 0;
    }

    .header .inner .nav.mobile .depth-01-list .depth-01.sub_btn.active {
        background-color: #333;
        color: #FEE379;
        border: 1px solid #FEE379;
    }

    .header .inner .nav.mobile .depth-02 {
        position: absolute;
        top: 50px;
        left: 180px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .header .inner .nav.mobile .depth-02.active {
        max-height: 500px;
        opacity: 1;
    }

    .header .inner .nav.mobile .depth-02 li {
        padding: 0 0 15px 0;
        font-weight: 400;
    }

    .header .inner .nav.mobile .depth-02 .depth-03 {
        font-weight: 300;
        padding: 0 10px;
        display: none;
    }

    .header .inner .nav.mobile .depth-03.active {
        display: block;
    }

    .header .inner .nav.mobile .depth-02 .depth-03 li:first-child {
        margin-top: 5px;
    }

    .header .inner .nav.mobile .depth-02 .depth-03 li {
        padding: 5px;
        color: #A1A1A1;
    }

    .header .inner .nav.mobile .util_mobile {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 160px;
    }

    .header .inner .nav.mobile .util_mobile button {
        color: #A1A1A1;
        text-align: left;
        padding: 5px;
    }

    /* 태블릿 푸터 */
    #footer .border {
        padding: 40px 0 30px;
    }

    #footer .inner {
        width: 86.81%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    #footer .inner .logo {
        flex-direction: row;
        gap: 100px;
    }

    #footer .inner .logo a {
        width: 180px;
    }

    #footer .inner .text_wrap {
        width: 100%;
        gap: 15px;
    }
}



/* --- 720 이하일 때(모바일 ver) --- */
@media screen and (max-width: 720px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 100px;
    }

    h4 {
        font-size: 50px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 20px;
    }

    body {
        font-size: 14px;
    }

    .header .inner {
        width: 88.8%;
        height: 50px;
    }

    /* 모바일 메뉴탭 */
    .header .inner .nav.mobile {
        width: 100%;
        height: 100vh;
        padding: 30px 20px;
        top: 50px;
    }

    .header .inner .nav.mobile .line {
        left: 130px;
    }

    .header .inner .nav.mobile .depth-02 {
        top: 30px;
        left: 160px;
    }

    /* 모바일 푸터 */
    #footer .inner {
        width: 88.8%;
        gap: 23px;
    }

    #footer .inner .logo {
        flex-direction: column;
        gap: 10px;
    }

    #footer .inner .logo a {
        width: 120px;
    }

    #footer .inner .text_wrap {
        width: 100%;
        gap: 20px;
    }

    #footer .inner .text_wrap .footer_nav ul {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    #footer .inner .text_wrap .info {
        flex-direction: column;
        gap: 12px;
    }

    #footer .inner .text_wrap .info .text ul {
        font-size: 13px;
        gap: 3px;
    }
}