@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-color: pink;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav p,
footer p {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
}

.nav-items {
    display: flex;
    gap: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.slider-counter {
    display: flex;
}

.slider-counter p,
.slider-counter>div {
    width: 1.5rem;
    display: flex;
    justify-content: center;
}

.slider-counter p {
    opacity: 0.35;
}

.count {
    position: relative;
    height: 1.125rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.count p {
    position: absolute;
    transform: translateY(0px);
    font-size: 1rem;
    line-height: 1;
    will-change: transform;
    opacity: 1;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.slide-bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.slide-main-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.slide-copy {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    color: #fff;
    z-index: 2;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.slide-title {
    position: relative;
    width: 500px;
    height: 50px;
    margin-bottom: 0.75rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slide-title h1 {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    transform: translateY(0px);
    will-change: transform;
}

.slide-description {
    position: relative;
    width: 500px;
    height: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slide-description p {
    position: absolute;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    transform: translateY(0px);
    will-change: transform;
}

@media (max-width: 900px) {
    .slide-main-img {
        width: 85%;
    }

    .slide-copy {
        width: 75%;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .slide-title,
    .slide-description {
        width: 100%;
    }
}