@charset "utf-8";
@import url('reset.css');

body {
    height: 3000px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 186, 198);
    color: rgb(95, 47, 3);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    transition: top 0.7s ease;
}

.header.active {
    top: -100px;
}