@charset "utf-8";
@import url('reset.css');

body {
    background-color: rgb(11, 158, 243);
    color: rgb(255, 255, 22);
    font-weight: 600;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* 배경 흐리게 */
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 1;
}

/* 순차적으로 나타나게 시작시간 조절 */
.loading div span {
    opacity: 0;
}

.loading.active div span:first-child {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}

.loading.active div span:nth-child(2) {
    opacity: 1;
    transition: opacity 0.5s 1s;
}

.loading.active div span:nth-child(3) {
    opacity: 1;
    transition: opacity 0.5s 1.5s;
}

.loading.active div span:nth-child(4) {
    opacity: 1;
    transition: opacity 0.5s 2s;
}

#wrap {}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(179, 2, 2);
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

.main {
    width: 500px;
    margin: 100px auto;
}

.main img {
    width: 100%;
    display: block;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}