@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.list .item {
    font-size: 20px;
    margin: 20px;
}

.list .item.active {
    color: rgb(74, 151, 72);
}

.btn {
    padding: 5px 20px;
    margin: 20px;
    font-size: 18px;
}