@charset "utf-8";
@import url('reset.css');

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.list .item {
    width: 30%;
    margin: 20px;
}

.list .item button {
    width: 120px;
    height: 40px;
    font-weight: 500;
    background-color: rgb(255, 200, 155);
    border: 2px solid rgb(212, 62, 3);
    color: rgb(212, 62, 3);
    box-shadow: 3px 3px 0 rgb(212, 62, 3);
    border-radius: 5px;
    margin: 0 5px 20px 0;
}

.list .item button:hover {
    background-color: rgb(255, 255, 152);
}

.list .item .image {
    /* 1. 이미지 정방형으로 고정시킬 때 */
    position: relative;
    padding-bottom: 100%;
}

.list .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
    display: block;
    /* 2. 이미지 정방형으로 고정시킬 때 */
    position: absolute;
    top: 0;
    left: 0;
}