@charset "utf-8";
@import url('reset.css');

.cursor {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    /* 3. 기존 커서 이벤트 없애기 */
    pointer-events: none;
}

.cursor .in {
    width: 100%;
    height: 100%;
    background-color: #4accc1;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 1. 안보이게 */
    transform: scale(0);
    transition: 0.3s;
}

.cursor.active .in {
    /* 2. 이미지에 마우스 올리면 나타남 */
    transform: scale(1);
}

#wrap .header {
    height: 100px;
    background-color: #f357ad;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#wrap .main img {
    width: 600px;
    margin: 80px auto;
    display: block;
    /* 4. 기존 커서 없애기 */
    cursor: none;
}