@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.section {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 50px auto;
}

.section .list .item {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    display: none;
}

.section .list .item.active {
    display: block;
}

.section .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .btn {
    max-width: 800px;
    width: calc(100% - 10px);
    margin: -200px auto;
    display: flex;
    justify-content: space-between;
}

.section .btn button {
    padding: 20px;
    border-radius: 50%;
    background-color: #f2f3c4;
    border: 1px solid #e7f343;
}

.section .btn button:hover {
    background-color: #f5e9a8;
}