@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.box {
    width: 400px;
    margin: 100px auto;
    position: relative;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.box .btn {
    width: 20%;
    height: 20%;
    border: 0;
    border-radius: 50%;
    background-color: rgba(237, 192, 255, 0.7);
    color: rgb(132, 67, 141);
    position: absolute;
    top: 10px;
    left: 10px;
}

.box .text {
    color: rgb(132, 67, 141);
    text-align: center;
}