@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.box {
    width: 500px;
    margin: 100px auto;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid rgb(81, 28, 124);
    display: block;
}

.box .btn {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box .btn button {
    width: 60px;
    height: 60px;
    background-color: rgb(214, 210, 230);
    border: 1px solid rgb(81, 28, 124);
    border-radius: 50%;
    cursor: pointer;    /* 커서 갖다댔을 때 커서 모양바뀜 */
}