@charset "utf-8";
@import url('reset.css');

.top_banner ul li {
    height: 40px;
    background-color: royalblue;
    color: white;
    text-align: center;
    line-height: 40px;
    display: none; /* 안보이게 */
}

.top_banner ul li.on {
    display: block;
}

.header {
    height: 100px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}