@charset "utf-8";
@import url('reset.css');

body {
    background-color: #F1D2DF;
    font-weight: 800;
}

.menu-01 {
    margin: 60px;
    position: relative;
}

.menu-01 ul {
    display: flex;
}

.menu-01 ul li {
    height: 50px;
    width: 120px;
    background-color: #6b6b6b;
    color: #F1D2DF;
    text-align: center;
    line-height: 50px;
}

.menu-01 .menu_bar {
    width: 120px;
    height: 4px;
    background-color: #ec91be;
    /* 포지션 걸어줘야 움직임 */
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-01 .menu_bar span {
    /* display: none은 프로그램에서 읽히지X */
    position: absolute;
    left: -9999px;
}


/* --- menu-02 --- */
.menu-02 {
    margin: 60px;
    position: relative;
}

.menu-02 ul {
    display: flex;
}

.menu-02 ul li {
    height: 50px;
    padding: 0 30px;
    background-color: #6b6b6b;
    color: #F1D2DF;
    border: 1px solid #8F939A;
    text-align: center;
    line-height: 50px;
}

.menu-02 .menu_bar {
    width: 100px;
    height: 3px;
    background-color: #f7f6b9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-02 .menu_bar span {
    position: absolute;
    left: -9999px;
}