@charset "utf-8";
@import url('reset.css');

body {
    height: 3000px;
    background-color: #fdfce6;
}

p {
    color: #66023C;
    padding: 30px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    bottom: 60px;
    right: 30px;
}

.btn button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #CAD183;
    color: #66023C;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: block;
}