@charset "utf-8";
@import url('reset.css');

.section {
    max-width: 640px;
    margin: 0 auto;
    background-color: #215e56;
    color: #e37a8b;
    padding: 20px;
}

.section .inner {}

.section .inner .item_detail img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.section .inner .item_detail .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section .inner .item_detail .text {
    line-height: 1.3;
}

.section .inner .list {
    margin-top: 20px;
    display: flex;
    gap: 16px;
}

.section .inner .list .item {
    background-color: #e37a8b;
    color: #eae0d7;
    padding: 16px;
}

.section .inner .list .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.section .inner .list .item .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section .inner .list .item .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}