@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

.section .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.section .inner > div { /* .title & .item */
    width: 31.59%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.section .inner .item .image {
    padding-bottom: 100%; /* 너비=높이 */
    position: relative;
}

.section .inner .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.section .inner .item.item-big {
    width: 48.75%;
}

.section .inner .item.item-big .image {
    padding-bottom: 64.81%;
}

.section .inner .item.item-big .image img {
    object-position: center 10%; /* 이미지 크롭 살짝 올리고 싶을 때 */
}

.section .inner .item .text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.section .inner .item:hover .text {
    display: flex;
}

.section .inner .title {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section .inner .item:nth-child(2) {
    order: -1;
}


/* 1024  이하*/
@media screen and (max-width: 1024px) {
    .section .inner .item .text {
        display: flex;
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        padding: 50px 0 20px;
    }
}

/* 700 이하 */
@media screen and (max-width: 700px) {
    .section .inner .item:nth-child(2) {
    order: 0;
    }

    .section .inner .title {
        width: 100%;
        border: 0;
    }

    .section .inner > div {
        width: 47.77%;
    }

    .section .inner .item.item-big .image {
        padding-bottom: 100%;
    }

    .section .inner .item .text {
        height: auto; /* 자동으로 잡히게 해야 나타남. 아니면 1024 이하일 때 설정때문에 보이지 X */
        position: static;
        background: transparent;
        color: #000000;
        padding: 0;
        margin-top: 10px;
    }
}