* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        li {
            list-style: none;
        }

        body {
            background-color: #fff;
        }

        .header {
            height: 100px;
            color: #9f59a5;
            background-color: #fff;
            border-bottom: 1px solid #9f59a5;
        }

        .header .inner {
            max-width: 1440px;
            width: calc(100% - 30px);
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        .header .inner .logo {
            width: 90px;
        }

        .header .inner .logo img {
            width: 100%;
        }

        .header .inner .nav .gnb {
            display: flex;
            gap: 50px;
        }

        .header .inner .button {
            display: flex;
            gap: 10px;
        }

        .header .inner .search_wrap button {
            padding: 5px 15px;
            border: 1px solid #9f59a5;
            border-radius: 50%;
            color: #fff;
            background-color: #caa7cc;
        }

        .header .inner .search_wrap .close_btn {
            display: none;
        }

        .header .inner .search_wrap .search_box {
            width: 100%;
            position: absolute;
            top: 100px;
            left: 0;
            padding: 20px 0;
            display: none;
        }

        .header .inner .search_wrap .search_box input {
            width: 100%;
            height: 50px;
            background-color: #caa7cc;
            border: 1px solid #9f59a5;
            padding: 0 20px;
        }

        .header .inner .mode_btn {
            padding: 5px 15px;
            border: 1px solid #6372b3;
            border-radius: 50%;
            color: #fff;
            background-color: #a4b0e6;
        }

        .event {
            padding: 150px 0;
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        .event .popup_01 {
            width: 300px;
            height: 400px;
            border: 1px solid #9f59a5;
        }

        .event .popup_01 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .event .popup_01 button {
            width: 100%;
            height: 50px;
            border: 1px solid #9f59a5;
            background-color: #caa7cc;
            color: #fff;
        }

        .event .popup_02 {
            width: 300px;
            height: 400px;
            border: 1px solid #9f59a5;
        }

        .event .popup_02 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .event .popup_02 button {
            width: 100%;
            height: 50px;
            border: 1px solid #9f59a5;
            background-color: #a4b0e6;
            color: #fff;
        }