@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

.all {
    background-color: antiquewhite;
}
.inner {
    width: 1440px;
    margin: 0px auto;
}
.inner h1 {
    font-size: 30px;
    margin-bottom: 100px;
    color: white;
    background-color: rgba(218, 137, 31, 0.6);
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    width: 600px;
    margin: 0 auto 100px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.list .item {
    position: relative;
    width: 321px;
    overflow: hidden;
    border-radius: 20px;
}
.list .item img {
    width: 100%;
    height: 321px;
    object-fit: cover;
    display: block;
}
.list .item p {
    color: white;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    /* background-color: rgba(66, 66, 66, 0.6);
    bottom: 20px;
    text-align: center;
    padding: 5px; */
    left: 0;
    bottom: 0;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 43, 43, 1) 100%);
    padding: 20px;
}