@charset "utf-8";
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a {
text-decoration: none;
color: inherit;
}
li {
list-style: none;
}

.main {
    position: relative;
}
.main img {
    height: 1080px;
    object-fit: cover;
}
.main .frame {
    position: absolute;
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 0 40px;
    color: white;
    align-items: center;
}
.main .text-02 {
    display: flex;
}
.main .text-02 p {
    font-size: 16px;
    width: 150px;
}
.main .text-03 {
    font-size: 15px;
    display: flex;
    height: 51px;
}
.main .text-03 p:nth-child(1) {
    padding: 0 20px ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    text-align: center;
    line-height: 51px;
    margin-right: 20px;
}
.main .text-03 p:nth-child(2) {
    padding: 0 20px ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    text-align: center;
    line-height: 51px;
    margin-right: 20px;
}
.main .text-03 p:nth-child(3) {
    padding: 0 20px ;
    text-align: center;
    line-height: 51px;
}


.sec-01 {
    padding: 150px 240px;
}
.sec-01 h2 {
    font-size: 46px;
    margin-bottom: 60px;
}
.sec-01 .list {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
.sec-01 .list .item {
    width: 456px;
}
.sec-01 .list .item img {
    width: 100%;
    height: 456px;
    object-fit: cover;
    margin-bottom: 20px;
}
.sec-01 .list .item .text {
    text-align: center;
}
.sec-01 .list .item .text h3 {
    font-size: 27px;
    margin-bottom: 5px
}
.sec-01 .list .item .text p {
    font-size: 16px;
    color: #666666;
    /* word-break: keep-all; 단어 줄바꿈 */
}

.sec-02 {
    position: relative;
}
.sec-02 .inner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 200px;
    color: white;
    text-align: center;
}
.sec-02 .text {
    margin-bottom: 45px;
}
.sec-02 .text h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.sec-02 .text img {
    width: 295px;
    margin-bottom: 25px;
}
.sec-02 .text p {
    font-size: 18px;
}
.sec-02 .list {
    display: flex;
    width: 1600px;
    justify-content: space-between;
}
.sec-02 .item {
    width: 288px;
    height: 288px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
}