@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.section-01 {
    width: 1280px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    margin: 50px auto;
}
.section-01 .swiper-slide {
    height: 360px;
}
.section-01 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}