@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.sec-01 {
    width: 1280px;
    margin: 100px auto;
}
.sec-01 .swiper-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.sec-01 .swiper-slide .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.35);
    font-size: 12px;
    padding: 7px;
    display: none; /* 텍스트 안보이게 */
}
.sec-01 .swiper-slide.swiper-slide-next .text {     /* 하나의 태그안에 존재하는 class끼리는 띄어쓰기 X */
    display: block; /* 2번째 슬라이드 텍스트만 보이게 */
}


.sec-02 {
    width: 1280px;
    margin: 100px auto;
}
.sec-02 .swiper-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.sec-02 .swiper-slide p {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.35);
    padding: 7px;
    width: 100%;
    text-align: center;
}
.sec-02 .swiper-slide {
    transform: scale(0.8);
    transition: all 0.7s;
}
.sec-02 .swiper-slide.swiper-slide-next {
    transform: scale(1.3);
    z-index: 1;
}