@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*  font-family: "Inter", sans-serif; */
/* 구글폰트에서 바로 embed하면 transfonter 필요없음 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    position: relative; /* header에 대한 포지션 */
}

button {    /* 버튼 설정 초기화 */
    border: 0;
    background-color: transparent;
}

.mobile {   /* 모바일 버전 안보이게 */
    display: none;
}

.header {
    width: 100%; /* 포지션 주면 좌측으로 쏠리기 때문에 100% 작성 필요 */
    height: 87.84px;
    padding: 0 39.9px;
    position: absolute; /* 메인비주얼을 가운데 두기 위함 */
    top: 0;
    left: 0;
}
.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    width: 173.88px;
}
.header .inner .logo a {
    width: 100%;
    display: block;
}
.header .inner .logo a img {
    width: 100%;
}

.header .inner .nav_pc .gnb {
    display: flex;
    gap: 5px;
}
.header .inner .nav_pc .gnb li a {
    display: block;
    padding: 5.94px 17px;
    font-size: 15.84px;
}

.header .inner .lang {
    display: flex;
    gap: 15.84px;
}
.header .inner .lang li {
    font-size: 14.04px;
}
.header .inner .lang li:nth-child(2) {
    color: #9f9fa1;
}


.main .main_visual {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .main_visual img {
    width: 757.984px;
}


/* 화면 1024px 이하*/
@media screen and (max-width: 1024px) {
    .pc, .header .inner .lang.pc {display: none;} /* 선택자 많은쪽이 힘 더 셈 */
    .mobile {display: block;}

    .header {
        height: 72px;
        padding: 0 24px;
    }
    .header .inner .logo {
        width: 148px;
    }
    .header .inner .nav_mobile {
        width: 100%;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 0;
        background-color: #000;
        padding: 155px 32px 24px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-align: right;
        transition: right 0.7s;
    }
    .header .inner .nav_mobile.active {
        right: 0;
    }
    .header .inner .nav_mobile .close_btn {
        position: absolute;
        top: 17px;
        right: 24px;
    }
    .header .inner .nav_mobile .gnb {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .header .inner .nav_mobile .gnb li {
        font-size: 55px;
        font-weight: 700;
    }
    .header .inner .nav_mobile .gnb li a {
        padding: 6px 8px;
        display: block;
    }
    .main .main_visual img {
        width: 480px;
    }

}/* 1024 */


/* 화면 480px 이하 */
@media screen and (max-width: 480px) {
    .main .main_visual img {
        width: 318px;
    }
}/* 480 */