@charset "utf-8";
@import url('../../css/reset.css');

body {
    /* reset.css 사용하면 line-height: 1 적용되어있음 */
    /* 풀페이지 스크롤 작동 안하는 원인이므로 normal로 다시 작성 필요 */
    line-height: normal;
    color: white;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(51, 31, 23);
    text-align: center;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#section0 {
    background: url('../img/chocolate1.jpg') center center / cover no-repeat;
}

#section1 {
    background: url('../img/chocolate2.jpg') center center / cover no-repeat;
}

#section1 .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
}


#section1 .inner .list {
    display: flex;
    justify-content: space-between;
}

#section1 .inner .list .item {
    width: 24%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
}

#section2 {
    background: url('../img/chocolate5.jpg') center center / cover no-repeat;
}

#section2 .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

#section2 .inner .list {
    display: flex;
    justify-content: space-between;
}

#section2 .inner .list .item {
    width: 24%;
}

#section2 .inner .list .item .image {
    width: 100%;
    /* 1.이미지를 감싼 그룹에 포지션 relative와 패딩바텀 100 */
    padding-bottom: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#section2 .inner .list .item .image img {
    width: 100%;
    /* 2. 이미지에 높이 100, 포지션 앱솔 */
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#footer {
    background-color: rgb(31, 22, 19);
    color: rgb(255, 255, 255);
}