@charset "utf-8";
@import url('font.css');

/* *:focus {
    outline: 1px solid #FF55BB;
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:hover {
    
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
i {
    font-style: normal;
}
html,body {
    line-height: 1;
    color: #333;
    font-size: 62.5%;
    /* font-family: 'EASTARJET-Medium'; */
    font-family: 'S-Core_Dream';
    /* font-family: 'Elice DX Neolli'; */
    /* font-family: 'KNUTRUTHTTF';   */
    font-family: 'GamtanRoad-Dotum';
    font-weight: normal;
    cursor: default;
    /* overflow-x: hidden;  */
    background-color: #fff;
    word-break: keep-all;
    min-width: 1600px;
    width: 100%;
    margin: 0 auto;
    
} 

body::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: auto; /* 스크롤바의 길이 */
    background: #878787; /* 스크롤바의 색상 */
    
    /* border-radius: 10px; */
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.none {
    display: none;
}
.center {
    text-align: center;
}
 
.skip {
    position: absolute;
    left: -9999px;
}
h3 {
    font-family: 'Cafe24-ClassicType';
    /* font-family: 'GapyeongWave'; */
     

    font-weight: normal; 
}
 
/* .mouse {
    width: 20px;
    height: 20px;
    background-color: #BFFF00;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px; 
    transition: all 0.3s linear;
    z-index: 9;
    mix-blend-mode: difference;
} */

/* 💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎 */
html,
body,
html:hover,
body:hover,
html:active,
body:active,
*,
*:hover,
*:active {
  /* cursor: url(../../../../img/none.cur), none !important; */
}


.list_mouse {
  position: absolute !important;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none !important;
  z-index: 99999;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  /*border:1px solid #fff;*/
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: exclusion;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: width 0.5s, height 0.5s, background 0.5s, opacity 0.3s,
    border-radius 0.3s;
  transition: width 0.5s, height 0.5s, background 0.5s, opacity 0.3s,
    border-radius 0.3s;
    z-index: 999;
}

.list_mouse:before,
.list_mouse:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list_mouse:before {
  background-color: #bfff00;
}
 
.list_mouse:after {
  background-color: #fff;
}

.list_mouse.hover {
  width: 80px;
  height: 80px;
  opacity: 1;
  background-color: transparent;
}

.list_mouse.hover:before,
.list_mouse.hover:after {
  width: 100%;
  height: 100%;
}

.list_mouse.hover:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* 💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎 */
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
.inner {
    max-width: 1600px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

section {
    padding: 200px 0;
    font-size: 18px;
}

/* 🎫 header*/
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    font-size: 16px;
    
   
    z-index: 999;
    /* background-color: #000; */
    /* color: #fff; */
    border-bottom: 1px solid #333;
    /* background-color: rgba(255, 255, 255, 0.7); */
    backdrop-filter: blur(7px);
    background-color: #E1D8CF;
}
.header.on {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
}

.header .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header h1 {
    /* height: 100%;  */
    font-size: 32px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.header h1 a { 
   display: flex;
}

.header h1 a span {
    font-family: 'Cafe24-ClassicType';
    margin-right: -10px;
    position: relative;
    z-index: 9;
    display: block;
}
 
.header h1 a img {
    /* width: 50px; */
    height: 60px;
    margin-left: 10px;
}
.header.on h1 a img {
    height: 50px;
}
.header .nav_wrap {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}
.header .nav_wrap ul {
    display: flex;
    column-gap: 30px;
} 
.header .nav_wrap ul li {
    position: relative;
}
.header .nav_wrap ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #FF856C;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    display: none;
}
.header .nav_wrap ul li:hover::before {
    display: block;
    background-color: #ff856c87;
}
/* .header .nav_wrap ul li.on::before {
    display: block;
} */
.main_cont {
    background-color: #eee;
     
}
 
/* 🎫 footer*/
.footer {
    /* padding: 80px 0;  */
    text-align: center;
    font-size: 16px;
}
 


/* 🎫 footer*/
.footer {
    padding: 80px 0;
    background-color: #eee;
    text-align: center;
    font-size: 16px;
}
.footer > ul {
    display: flex;
    justify-content: center;
}
.footer > ul li {
    margin: 0 10px;
    position: relative;
}
footer > ul li img {
    height: 40px;
}
.footer > ul li span {
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
.footer > img {
    width: 300px;
    margin: 30px 0;
}
.footer > ul li img.copy {
    height: 15px;
    /* position: absolute;
    right: -17px;
    bottom: 0; */
    cursor: pointer;
}

#top-btn {  
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    right: 25px;
    bottom: 90px; 
    z-index: 999;
    cursor: pointer; 
    display: none;
     
}
#top-btn.on {
    display: block;
}
#top-btn figure {
    width: 60px;
    height: 60px;
    background-color: #4169E1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 15px #4169e179;
}
#top-btn img {
    width: 20px
}
#top-btn img.active {
    display: none;
}
 
#top-btn figure.on img.off {
    display: none;
}
#top-btn figure.on img.active {
    display: block;
}

#top-btn P {
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Cafe24-ClassicType';
    color: #000;
}

section .btn {
    width: calc(100% - 100px);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    right: 0;
    top: 100px;
    z-index: 999;
}
section .sec_btn {    
    position: relative;
}
.sec_btn:hover  div {
    animation: btnSlide 5s infinite linear;
}
.sec_btn::before {
    content: '';
    width: 37px;
    height: 28px;
    background: url('../img/moreBtn_right.png') 0 0 / 100% no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes btnSlide {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}


button {
    background-color: transparent;
    border: 0;
}

.menu_btn img {
    height: 22px;
}
/* #top-btn figure.on p {color: #BFFF00;} */